@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.threshold {
  animation: blink 1s;
  animation-iteration-count: infinite;
  --percent: calc(
    (1 - var(--currenttime) / var(--starttime)) * 100%
  ) !important;
  background-image: var(--gradient-type) !important;
}
